/* COLORS */
$green: #74d3ae;
$pink: #d6bfdd;
$gray: #393e41;
$bgpinkcontact: #dfc0df;
$bgpinkabout: #d2bed9;

/* FONT */
$font: "Roboto Mono", Courier, Arial, monospace;

/* ANIMATION */
$animationSteps: 20;
$animationDuration: 50;
$animationElement: span;
$animationElementsCount: 100;
$delayBetweenLetters: 0.2;
